In [1]:
x = 5
y = "John"

print(x)
print(y)

5
John

In [2]:
age = 26
Age = 36
AGE = 46
print(age,Age,AGE)

26 36 46

In [3]:
first_name = 'Kaushik'
last_name = 'Gowda'

print(first_name)
print(last_name)

Kaushik
Gowda

In [6]:
n1 = input("enter the first number : ")
n2 = input("enter the second number : ")
n3 = int(n1) + int(n2)
print(n3)

enter the first number : 5
enter the second number : 5
10

In [7]:
a = "netzwerk"
b = "academy"
print(a)
print(b)

netzwerk
academy

In [9]:
a = "hello kaushik"
print(a[0])
print(a[7])

h
a

In [10]:
a = "hello world"
a[0:5:1]
#Starts from 0 position, first 5 letters from 1st word.

'hello'

In [15]:
str1 = 'kaushik'
str2 = 'gowda'
str3 = str1+str2
print(str3)

kaushikgowda

In [16]:
b = False
print(type(b))

<class 'bool'>

In [18]:
list1 = [1,2,3,4.5,5.5,"maths","python",True,False]
list1

[1, 2, 3, 4.5, 5.5, 'maths', 'python', True, False]

In [21]:
my_list = [1,2,3,True]
my_list
my_list.append("KG")
my_list.insert(3,4)
print(my_list)

[1, 2, 3, 4, True, 'KG']

In [26]:
dict1 = {
    "Brand":"BMW",
    "model":"320D",
    "year":2018,
    "cost":4400000
}
dict1
dict1["color"] = "white"
rem = dict1.pop('model')
dict1['model'] = 'BMW'
type(dict1)
print(dict1)

{'Brand': 'BMW', 'year': 2018, 'cost': 4400000, 'color': 'white', 'model': 'BMW'}

In [52]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["name"]
dict1["april_batch"]["student"]["name"] = 'Kaushik'
dict1["april_batch"]["student"]["marks"]["ML"] = 80
dict1["april_batch"]["student"]["marks"]["DL"] = 80
print(dict1)

{'april_batch': {'student': {'name': 'Kaushik', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [56]:
tup1 = (1,2,3,4.4,5.5,True,False,"Maths","Python")
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python')